In [3]:
import pandas as pd
from pathlib import Path
# import dask.dataframe as dd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import pybedtools
from pybedtools import BedTool
import dask.dataframe as dd
import re

warnings.filterwarnings("ignore")

In [10]:
re.search("_(chr\d\d)\.extended", "chm13v2.0_abacaba_words_length_50_seq_chr12.extended.txt")

In [18]:
human = {re.search("_(chr[\dYXM]*)\.extended", f.name).group(1): f for f in Path("chm13").glob("*.txt")}
human

{'chr12': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr12.extended.txt'),
 'chr15': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr15.extended.txt'),
 'chr21': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr21.extended.txt'),
 'chr19': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr19.extended.txt'),
 'chr6': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr6.extended.txt'),
 'chr11': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr11.extended.txt'),
 'chr17': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr17.extended.txt'),
 'chr1': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr1.extended.txt'),
 'chr22': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr22.extended.txt'),
 'chr10': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr10.extended.txt'),
 'chr16': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr16.extended.txt'),
 'chr8': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr8.extended.txt'),
 'chr4': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr4.extended.txt'),
 'chr9': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr9.extended.txt'),
 'chr18': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr18.extended.txt'),
 'chr3': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr3.extended.txt'),
 'chr7': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr7.extended.txt'),
 'chr2': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr2.extended.txt'),
 'chr13': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr13.extended.txt'),
 'chr20': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr20.extended.txt'),
 'chrM': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chrM.extended.txt'),
 'chrX': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chrX.extended.txt'),
 'chr5': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr5.extended.txt'),
 'chr14': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chr14.extended.txt'),
 'chrY': PosixPath('chm13/chm13v2.0_abacaba_words_length_50_seq_chrY.extended.txt')}

In [40]:
from tqdm import tqdm

total = 0
total_max = 0
total_chr = {}
for c in tqdm(human):
    temp = pd.read_csv(human[c], 
                       header=None, 
                       names=["seqID", "start", "end", "sequence", "length", "type"]).query("length > 60")
    total += temp.shape[0]
    c_all = temp.groupby(["seqID", "end"], as_index=False)\
                          .agg({"start": "min", "length": "max"}).shape[0]
    total_max += c_all
    total_chr.update({c: c_all})
total, total_max

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 25/25 [00:34<00:00,  1.37s/it]

(2546719, 548221)

In [37]:
from tqdm import tqdm

total = 0
total_max = 0
total_chr = {}
for c in tqdm(human):
    temp = pd.read_csv(human[c], 
                       header=None, 
                       names=["seqID", "start", "end", "sequence", "length", "type"]).query("length >= 60")
    total += temp.shape[0]
    c_all = temp.groupby(["seqID", "end"], as_index=False)\
                          .agg({"start": "min", "length": "max"}).shape[0]
    total_max += c_all
    total_chr.update({c: c_all})
total, total_max

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 25/25 [00:35<00:00,  1.40s/it]

(3187341, 675325)

In [38]:
chr_new = df_chm13.query("length >= 60").groupby("seqID").agg({"length": "count"})['length'].to_dict()
chr_new

{'chr1': 54271,
 'chr10': 31341,
 'chr11': 30064,
 'chr12': 30217,
 'chr13': 20682,
 'chr14': 21490,
 'chr15': 21488,
 'chr16': 24726,
 'chr17': 20431,
 'chr18': 16116,
 'chr19': 14637,
 'chr2': 53524,
 'chr20': 15883,
 'chr21': 8808,
 'chr22': 10450,
 'chr3': 43026,
 'chr4': 38105,
 'chr5': 38454,
 'chr6': 37005,
 'chr7': 34715,
 'chr8': 32466,
 'chr9': 27191,
 'chrM': 6,
 'chrX': 33765,
 'chrY': 16464}

In [31]:
from tqdm import tqdm

total = 0
total_max = 0
total_chr = {}
for c in tqdm(human):
    temp = pd.read_csv(human[c], 
                       header=None, 
                       names=["seqID", "start", "end", "sequence", "length", "type"]).query("length >= 60")
    total += temp.shape[0]
    c_all = temp.groupby(["seqID", "end"], as_index=False)\
                          .agg({"start": "min", "length": "max"}).shape[0]
    total_max += c_all
    total_chr.update({c: c_all})
total, total_max

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 25/25 [00:36<00:00,  1.47s/it]

(24954862, 4651253)

In [ ]:
4651253

In [35]:
chr_new = df_chm13.groupby("seqID").agg({"length": "count"})['length'].to_dict()
chr_new

{'chr1': 382335,
 'chr10': 214338,
 'chr11': 208294,
 'chr12': 208066,
 'chr13': 146666,
 'chr14': 147753,
 'chr15': 145914,
 'chr16': 163356,
 'chr17': 139929,
 'chr18': 119321,
 'chr19': 110298,
 'chr2': 369273,
 'chr20': 107447,
 'chr21': 60859,
 'chr22': 72154,
 'chr3': 298562,
 'chr4': 266018,
 'chr5': 270388,
 'chr6': 257541,
 'chr7': 250983,
 'chr8': 224754,
 'chr9': 190597,
 'chrM': 45,
 'chrX': 233865,
 'chrY': 62497}

In [36]:
assert total_chr == chr_new

In [34]:
df_chm13.shape[0]

4651253

In [24]:
old_chm13 = pd.read_csv(human['chrY'], header=None, names=["seqID", "start", "end", "sequence", "length", "type"])
old_chm13

,seqID,start,end,sequence,length,type
0,chrY,7632,7684,tactgtggcgagctacatccgcagtccccaggaattcgtccgattg...,52,abacaba
1,chrY,7633,7684,actgtggcgagctacatccgcagtccccaggaattcgtccgattga...,51,abacaba
2,chrY,7634,7684,ctgtggcgagctacatccgcagtccccaggaattcgtccgattgat...,50,abacaba
3,chrY,11757,11810,gctaggattgcaggcctgagccaccgcgcccagctgccttgtgctt...,53,abacaba
4,chrY,11758,11810,ctaggattgcaggcctgagccaccgcgcccagctgccttgtgcttt...,52,abacaba
...,...,...,...,...,...,...
461501,chrY,62453387,62453438,actcggggcgcatcaacggtgaataaaatgtttcccggttgcagcc...,51,abacaba
461502,chrY,62453388,62453438,ctcggggcgcatcaacggtgaataaaatgtttcccggttgcagcca...,50,abacaba
461503,chrY,62453410,62453462,taaaatgtttcccggttgcagccatgaataatcaaggtgagagacc...,52,abacaba
461504,chrY,62453411,62453462,aaaatgtttcccggttgcagccatgaataatcaaggtgagagacca...,51,abacaba
461505,chrY,62453412,62453462,aaatgtttcccggttgcagccatgaataatcaaggtgagagaccag...,50,abacaba

In [25]:
old_chm13.groupby(["seqID", "end"], as_index=False).agg({"start": "min", "length": "max"})

      seqID       end     start  length
0      chrY      7684      7632      52
1      chrY     11810     11757      53
2      chrY     11900     11845      55
3      chrY     13215     13162      53
4      chrY     13216     13163      53
...     ...       ...       ...     ...
62492  chrY  62452462  62452411      51
62493  chrY  62452653  62452599      54
62494  chrY  62453353  62453292      61
62495  chrY  62453438  62453386      52
62496  chrY  62453462  62453410      52

[62497 rows x 4 columns]

In [22]:
old_Y = df_chm13[df_chm13['seqID'] == 'chrY']
old_Y

,seqID,start,end,sequence,length,type
0,chrY,7632,7684,tactgtggcgagctacatccgcagtccccaggaattcgtccgattg...,52,abacaba
1,chrY,11757,11810,gctaggattgcaggcctgagccaccgcgcccagctgccttgtgctt...,53,abacaba
2,chrY,11845,11900,aggtcaggagttcaagaccagcctggccaacatggtgaaaccccat...,55,abacaba
3,chrY,13162,13215,agatgaggcctcccgatattgtccaggcttggaagtagttcttgaa...,53,abacaba
4,chrY,13163,13216,gatgaggcctcccgatattgtccaggcttggaagtagttcttgaaa...,53,abacaba
...,...,...,...,...,...,...
62492,chrY,62452411,62452462,tgcaatgtccgtagctgccagcaggcggcgtgccaccactatacag...,51,abacaba
62493,chrY,62452599,62452653,ggctgcaagcaaggggcggtcgatcccggcttttcggattactgaa...,54,abacaba
62494,chrY,62453292,62453353,tgcgttctgctcagtacagacctgggggtcaccgtaaaggtggagc...,61,abacaba
62495,chrY,62453386,62453438,aactcggggcgcatcaacggtgaataaaatgtttcccggttgcagc...,52,abacaba
62496,chrY,62453410,62453462,taaaatgtttcccggttgcagccatgaataatcaaggtgagagacc...,52,abacaba

In [21]:
df_chm13 = dd.read_csv("pattern_maximal_abacaba/chm13*.maximal.txt").compute()
df_chm13

,seqID,start,end,sequence,length,type
0,chr1,6006,6066,ccagatgcaactgcccaatctcggacattccagctaccagtattgt...,60,abacaba
1,chr1,6025,6077,ctcggacattccagctaccagtattgtgagccaaatgaatcttttt...,52,abacaba
2,chr1,6167,6222,aatggtgttgacctaagtcactttgaaaatgaatagaatctggagg...,55,abacaba
3,chr1,6324,6378,caatgacttacataagtcgcagatggtgggaaccagctttctcact...,54,abacaba
4,chr1,6352,6403,ggaaccagctttctcactgttgaagtgggaggttacaaattagcaa...,51,abacaba
...,...,...,...,...,...,...
62492,chrY,62452411,62452462,tgcaatgtccgtagctgccagcaggcggcgtgccaccactatacag...,51,abacaba
62493,chrY,62452599,62452653,ggctgcaagcaaggggcggtcgatcccggcttttcggattactgaa...,54,abacaba
62494,chrY,62453292,62453353,tgcgttctgctcagtacagacctgggggtcaccgtaaaggtggagc...,61,abacaba
62495,chrY,62453386,62453438,aactcggggcgcatcaacggtgaataaaatgtttcccggttgcagc...,52,abacaba
62496,chrY,62453410,62453462,taaaatgtttcccggttgcagccatgaataatcaaggtgagagacc...,52,abacaba

In [54]:
df_chm13[df_chm13['length'] >= 50].shape

(4651253, 6)

In [8]:
df_chm13[df_chm13['length'] >= 60].shape

(675325, 6)

In [12]:
df_chm13[df_chm13['length'] >= 70].shape

(70546, 6)

In [10]:
# df_chm13.length.value_counts()

In [16]:
df_chm13[df_chm13['length'] >= 100].set_index("seqID").to_csv("max_avoidmers_table.csv", sep="\t", mode="w")

In [45]:
for l in range(50, 90, 10):
    temp = df_chm13[df_chm13['length'] >= l]
    print(l, temp.shape[0])

50 4651253
60 675325
70 70546
80 4807

In [49]:
df = pd.read_csv("pattern_merged_abacaba/chm13v2.0_abacaba_words_length_50.merged.txt")
df

,seqID,start,end,overlapCount,mergedSequence
0,chr1,6006,6077,14,ccagatgcaactgcccaatctcggacattccagctaccagtattgt...
1,chr1,6167,6222,6,aatggtgttgacctaagtcactttgaaaatgaatagaatctggagg...
2,chr1,6324,6403,7,caatgacttacataagtcgcagatggtgggaaccagctttctcact...
3,chr1,10330,10388,9,ttaacctagcccccatttactgatgcacggctgaagaatgagtccg...
4,chr1,11500,11551,2,ggcttggccgtgtgacttgcactggccaatgggatattaacaagtc...
...,...,...,...,...,...
3457635,chrY,62450892,62450944,3,gaccaggaggctttataggccactgcaagcagcagggctccagatg...
3457636,chrY,62452411,62452462,2,tgcaatgtccgtagctgccagcaggcggcgtgccaccactatacag...
3457637,chrY,62452599,62452653,5,ggctgcaagcaaggggcggtcgatcccggcttttcggattactgaa...
3457638,chrY,62453292,62453353,12,tgcgttctgctcagtacagacctgggggtcaccgtaaaggtggagc...
3457639,chrY,62453386,62453462,6,aactcggggcgcatcaacggtgaataaaatgtttcccggttgcagc...

In [50]:
df.loc[:, "length"] = df["end"] - df["start"]

In [53]:
df[df["length"] >= 70]

,seqID,start,end,overlapCount,mergedSequence,length
0,chr1,6006,6077,14,ccagatgcaactgcccaatctcggacattccagctaccagtattgt...,71
2,chr1,6324,6403,7,caatgacttacataagtcgcagatggtgggaaccagctttctcact...,79
9,chr1,14822,14899,4,agtaggcagtttcagggccttaaggagaaattcatcggccattaat...,77
17,chr1,21609,21689,23,tcacaatggaccaggccaactcagtcaatgtggaggcagcatcagg...,80
33,chr1,39396,39471,23,tgctcacacaaggatgccaagaggcttcatatgtgttccttacctg...,75
...,...,...,...,...,...,...
3457613,chrY,62435378,62435450,23,tcggtcctggacattctaggtccctgactcgccagatgcatcatgt...,72
3457618,chrY,62437732,62437803,13,tgccaagtgagtttgccgttctcatggtaacagctggaaattactg...,71
3457621,chrY,62438822,62438901,12,acctgcacacagtggtgctcagaaaaagctaataattccttattgg...,79
3457632,chrY,62448762,62448832,20,gccatgagccaaggtgggcacttgatgtcggatctcttcaacaagc...,70
3457639,chrY,62453386,62453462,6,aactcggggcgcatcaacggtgaataaaatgtttcccggttgcagc...,76